{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <!-- Video Section -->
    <div class="row align-items-center mb-5 video-text-card">
        <div class="col-md-6">
            <div class="ratio ratio-16x9">
                <video controls style="width: 100%; height: 50%;">
                    <source src="{{ video_url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="col-md-6">
            <h1 class="line-one">
                Golden Hive Bee Farm, Killashee, Co. Longford
            </h1>
            <p class="line-two">
                Raw and Natural Honey from the heart of Ireland.
            </p>
            <a href="/shop" class="btn btn-primary">Shop Products</a>
        </div>
    </div>

<!-- Who-we-are Section -->
<div id="who-we-are" class="row align-items-center mb-5">
    <div class="col-md-6">
        <h2>Who We Are?</h2>
        <p>Golden Hive is a family run business based in the beautiful countryside of Killashee,
             Co.Longford. All our products are 100% natural. Our Honey is 100% Raw. Our bees are
             positioned in the unspoilt beauty of the midlands of Ireland, dedicated to bringing you 
             the best natural products sourced directly from our beehives. We believe in sustainability,
             quality, and the well-being of our bees and environment.
        </p>
    </div>
    <div class="col-md-6">
        <img src="{% static 'images/who-we-are.jpg' %}" class="img-fluid rounded" alt="Brief information about us">
    </div>
</div>

{% endblock %}