html {
    height: 100%;
}

.navbar {
    background-color: #FFDE59 !important; /* Ensures full width color */
    width: 100%;
}

.navbar-nav .nav-link {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    position: relative;
}

.navbar-nav .nav-link::before,
.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #675C32;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navbar-nav .nav-link::before {
    top: -5px;
}

.navbar-nav .nav-link::after {
    bottom: -5px;
}

.navbar-nav .nav-link:hover::before,
.navbar-nav .nav-link:hover::after {
    transform: scaleX(1);
}

.navbar-nav .nav-link:hover {
    color: #000000;
}
