html {
    height: 100%;
}

.navbar {
    background-color: #FFDE59 !important;
    width: 100%;
}

/* Navbar link hover effect */
.navbar-nav .nav-link {
    color: #000000; /* Default text color */
    font-family: 'Raleway', sans-serif;
    font-weight: 700; /* Bold text */
    text-decoration: none; /* Remove underline */
}

.navbar-nav .nav-link:hover {
    color: #000000; /* Black text on hover */
    font-weight: bold; /* Keep bold effect */
    text-decoration: none; /* Ensure no underline */
}

/* Dropdown menu appears on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block; /* Show the dropdown menu */
    margin-top: 0; /* Align it properly */
}

/* Adjust dropdown menu styling */
.dropdown-menu {
    border: none; /* Optional: Remove border */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add subtle shadow */
}

.navbar-nav .nav-item {
    margin-left: 15px;
}
