<!-- Mobile Top Header -->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <!-- Small Screen: Logo -->
  <a class="navbar-brand mx-auto d-lg-none" href="{% url 'home' %}">
    <img src="/media/golden-hive-logo.png" alt="Golden Hive Logo" class="logo-img">
  </a>
  
  <!-- Small Screen: Search Icon -->
  <div class="d-flex align-items-center d-lg-none">
    <a class="nav-link" href="#" id="mobileSearchIcon">
      <i class="fas fa-search"></i>
    </a>
    <!-- Mobile-Specific Search Bar -->
<div id="mobile-search-bar" class="hidden">
  <form method="GET" action="{% url 'all_products' %}">
      <input 
          type="text" 
          id="mobileSearchInput" 
          name="q" 
          placeholder="Search honey..." 
          required 
      />
      <button type="submit" class="search-button">Search</button>
  </form>
</div>
    <!-- Small Screen: Cart Icon -->
    <a class="nav-link" href="{% url 'view_cart' %}" id="cartIcon">
      <i class="fas fa-shopping-cart"></i>
      <span class="{% if cart_items %}badge badge-pill badge-primary{% else %}d-none{% endif %}" id="cart-badge">
        {% if cart_items %}{{ cart_items|length }}{% endif %}
      </span>
    </a>
  </div>
  